.appContainer {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  margin-left: 80px;
  width: calc(100% - 80px);
  min-height: 100vh;
}

.mainContent.fullWidth {
  margin-left: 0;
  width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mainContent {
    margin-left: 70px;
    width: calc(100% - 70px);
  }

  .mainContent.fullWidth {
    margin-left: 0;
    width: 100%;
  }
}

